<div class="">
  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner container text-center">
        <div class="carousel-item active">
          <div class="row d-flex justify-content-center">
              <div class="col-md-5 ">
                  <div class="card border  border-2">
                      <img src="./assets/TechForge-product-1.png" class="card-img" >
                      <div class="card-img-overlay">
                          <p class="card-subtitle fs-5 fw-semibold text-white">Fully customizable and complete class management system</p>
                          <a href="#contact-us-element" class="btn btn-outline-light detail-btn btn-sm">Purchase</a>
                      </div>
                      <ul class="list-group list-group-flush text-center">
                          <li class="list-group-item">Class Management System</li>

                      </ul>
                  </div>
              </div>

              <div class="col-md-5 ">
                <div class="card border  border-2">
                    <img src="./assets/TechForge-product-2.png" class="card-img" >
                    <div class="card-img-overlay">
                        <p class="card-subtitle fs-5 fw-semibold text-white">A Fully fledged Gym management system</p>
                        <a href="#contact-us-element" class="btn btn-outline-light detail-btn btn-sm">Purchase</a>
                    </div>
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item">Gym Management System</li>

                    </ul>
                </div>
            </div>
              <!-- <div class="col-md-4 ">
                  <div class="card border  border-4">
                      <img src="assets/TechForge-product-1.png" class="card-img" >
                      <div class="card-img-overlay">
                          <h5 class="card-title text-white">ascazxczxc</h5>
                          <a href="#" class="btn btn-outline-light detail-btn btn-sm">Details</a>
                      </div>
                      <ul class="list-group list-group-flush text-center">
                          <li class="list-group-item">Name</li>

                      </ul>
                  </div>
              </div>
              <div class="col-md-4 ">
                  <div class="card border  border-4">
                      <img src="assets/logo.png" class="card-img" >
                      <div class="card-img-overlay">
                          <h5 class="card-title text-white">ascazxczxc</h5>
                          <a href="#" class="btn btn-outline-light detail-btn btn-sm">Details</a>
                      </div>
                      <ul class="list-group list-group-flush text-center">
                          <li class="list-group-item">Name</li>

                      </ul>
                  </div>
              </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
              <div class="col-md-4 ">
                  <div class="card border  border-4">
                      <img src="assets/logo.png" class="card-img" >
                      <div class="card-img-overlay">
                          <h5 class="card-title text-white">ascazxczxc</h5>
                          <a href="#" class="btn btn-outline-light detail-btn btn-sm">Details</a>
                      </div>
                      <ul class="list-group list-group-flush text-center">
                          <li class="list-group-item">Name</li>

                      </ul>
                  </div>
              </div>
              <div class="col-md-4 ">
                  <div class="card border  border-4">
                      <img src="assets/logo.png" class="card-img" >
                      <div class="card-img-overlay">
                          <h5 class="card-title text-white">ascazxczxc</h5>
                          <a href="#" class="btn btn-outline-light detail-btn btn-sm">Details</a>
                      </div>
                      <ul class="list-group list-group-flush text-center">
                          <li class="list-group-item">Name</li>

                      </ul>
                  </div>
              </div>
              <div class="col-md-4 ">
                  <div class="card border  border-4">
                      <img src="assets/logo.png" class="card-img" >
                      <div class="card-img-overlay">
                          <h5 class="card-title text-white">ascazxczxc</h5>
                          <a href="#" class="btn btn-outline-light detail-btn btn-sm">Details</a>
                      </div>
                      <ul class="list-group list-group-flush text-center">
                          <li class="list-group-item">Name</li>

                      </ul>
                  </div>
              </div>
          </div>
        </div>
        <div class="carousel-item">
         <div class="row">
          <div class="col-md-4 ">
              <div class="card border  border-4">
                  <img src="assets/logo.png" class="card-img" >
                  <div class="card-img-overlay">
                      <h5 class="card-title text-white">ascazxczxc</h5>
                      <a href="#" class="btn btn-outline-light detail-btn btn-sm">Details</a>
                  </div>
                  <ul class="list-group list-group-flush text-center">
                      <li class="list-group-item">Name</li>

                  </ul>
              </div>
          </div>
          <div class="col-md-4 ">
              <div class="card border  border-4">
                  <img src="assets/logo.png" class="card-img" >
                  <div class="card-img-overlay">
                      <h5 class="card-title text-white">ascazxczxc</h5>
                      <a href="#" class="btn btn-outline-light detail-btn btn-sm">Details</a>
                  </div>
                  <ul class="list-group list-group-flush text-center">
                      <li class="list-group-item">Name</li>

                  </ul>
              </div>
          </div>
          <div class="col-md-4 ">
              <div class="card border  border-4">
                  <img src="assets/logo.png" class="card-img" >
                  <div class="card-img-overlay">
                      <h5 class="card-title text-white">ascazxczxc</h5>
                      <a href="#" class="btn btn-outline-light detail-btn btn-sm">Details</a>
                  </div>
                  <ul class="list-group list-group-flush text-center">
                      <li class="list-group-item">Name</li>

                  </ul>
              </div>
          </div> -->
      </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <i class="bi bi-caret-left-fill bg-black"></i>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <i class="bi bi-caret-right-fill bg-black"></i>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  </div>
