<div class="intro-background text-center d-flex align-items-center justify-content-center">
  <div class="poppins-bold-italic">
    <!-- <p class="logo-text mb-sm-5">"Tech Forge"</p> -->
    <div class="text-center">
      <div class="row"></div>
      <img class="logoBack " src="/assets/logo.jpeg" alt="">
      <p class="intro-text">COORAY'S COCONUTS
      </p>
    </div>
  </div>
</div>
<div class="container-fluid mt-5">
  <h2 class="pb-2 border-bottom">About Us</h2>

  <div class="row row-cols-1 row-cols-md-2 align-items-md-start g-lg-5">
    <div class="col d-flex flex-column align-items-start gap-2">
      <p class="text-body-dark fst-italic fw-semibold mt-sm-2 mt-lg-5">Our project is a coconut management system
        eliminating intermediaries, ensuring low coconut prices. Entities include companies, sellers, and customers,
        with sellers managing offers and customers buying directly.</p>
    </div>

    <div class="col">
      <div class="row row-cols-1 row-cols-sm-2 g-4">
        <div class="col d-flex flex-column gap-2">
          <div
            class="feature-icon-small d-inline-flex align-items-center justify-content-start bg-gradient fs-4 rounded-3">
            <i class="bi bi-credit-card-fill fs-1 intro-icons"></i>
          </div>
          <h4 class="fw-semibold mb-0 text-body-emphasis">Card Payments</h4>
          <p class="text-body-secondary">Enjoy seamless and secure card payments, making transactions a breeze!</p>
        </div>

        <div class="col d-flex flex-column gap-2">
          <div
            class="feature-icon-small d-inline-flex align-items-center justify-content-start bg-gradient fs-4 rounded-3">
            <i class="bi bi-bank2 intro-icons fs-1"></i>
          </div>
          <h4 class="fw-semibold mb-0 text-body-emphasis">Bank Transfer</h4>
          <p class="text-body-secondary">Effortlessly secure your payments with our hassle-free bank transfer option!
          </p>
        </div>

        <!-- <div class="col d-flex flex-column gap-2">
          <div class="feature-icon-small d-inline-flex align-items-center justify-content-start bg-gradient fs-4 rounded-3">
            <i class="bi bi-calendar3 fs-1 intro-icons"></i>
          </div>
          <h4 class="fw-semibold mb-0 text-body-emphasis">Pay By Installments</h4>
          <p class="text-body-secondary">Explore our installment payments feature for flexible, budget-friendly purchasing options.</p>
        </div>

        <div class="col d-flex flex-column gap-2">
          <div class="feature-icon-small d-inline-flex align-items-center justify-content-start bg-gradient fs-4 rounded-3">
            <i class="bi bi-file-earmark-diff-fill fs-1 intro-icons"></i>
          </div>
          <h4 class="fw-semibold mb-0 text-body-emphasis">Flexible Stack</h4>
          <p class="text-body-secondary">Discover how we deliver tailored web solutions for any stack, ensuring your digital goals are met with precision and expertise.</p>
        </div> -->
      </div>
    </div>
  </div>
</div>
<hr>