<div class="container">
  <div class="text-center mb-4 pb-2">
    <i class="fas fa-quote-left fa-3x text-white"></i>
  </div>

  <div class="card shadow">
    <div class="card-body px-4 py-5">

      <div id="carouselDarkVariant" class="carousel slide carousel-dark" data-bs-ride="carousel">

        <div class="carousel-indicators mb-0">
          <button type="button" data-bs-target="#carouselDarkVariant" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselDarkVariant" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselDarkVariant" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>


        <div class="carousel-inner pb-5">

          <div class="carousel-item active">
            <div class="row d-flex justify-content-center">
              <div class="col-lg-10 col-xl-8">
                <div class="row">
                  <div class="col-lg-4 d-flex justify-content-center">
                    <img src="./assets/profile.png" class="rounded-circle shadow-1 mb-4 mb-lg-0" alt="woman avatar"
                      width="150" height="150" />
                  </div>
                  <div class="col-9 col-md-9 col-lg-7 col-xl-8 text-center text-lg-start mx-auto mx-lg-0">
                    <h4 class="mb-4">Sachini - Govermemt Teacher</h4>
                    <p class="mb-0 pb-3">

                      Thank you, Team TechForge, for your invaluable assistance in our project. From planning to
                      execution, your expertise and dedication were crucial. Your support helped refine ideas,
                      troubleshoot issues, and optimize solutions. We deeply appreciate your professionalism.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="carousel-item">
            <div class="row d-flex justify-content-center">
              <div class="col-lg-10 col-xl-8">
                <div class="row">
                  <div class="col-lg-4 d-flex justify-content-center">
                    <img src="./assets/profile.png" class="rounded-circle shadow-1 mb-4 mb-lg-0" alt="woman avatar"
                      width="150" height="150" />
                  </div>
                  <div class="col-9 col-md-9 col-lg-7 col-xl-8 text-center text-lg-start mx-auto mx-lg-0">
                    <h4 class="mb-4"> lakmali ranasaingha - Udergraduate</h4>
                    <p class="mb-0 pb-3">
                      Thank you for your outstanding work on our project. The software quality, professionalism, and
                      innovative solutions exceeded our expectations. We look forward to future collaborations. Thank
                      you again.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="carousel-item">
            <div class="row d-flex justify-content-center">
              <div class="col-lg-10 col-xl-8">
                <div class="row">
                  <div class="col-lg-4 d-flex justify-content-center">
                    <img src="./assets/portrait.png" class="rounded-circle shadow-1 mb-4 mb-lg-0" alt="woman avatar"
                      width="150" height="150" />
                  </div>
                  <div class="col-9 col-md-9 col-lg-7 col-xl-8 text-center text-lg-start mx-auto mx-lg-0">
                    <h4 class="mb-4">I.G.I.H.U WEERASOORIYA - Goverment Teacher</h4>
                    <p class="mb-0 pb-3">
                      I recently had the pleasure of working with Tech Forge to implement their class management system
                      at our school, and I must say, the experience was nothing short of outstanding.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselDarkVariant" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselDarkVariant" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    </div>
  </div>

  <div class="text-center mt-4 pt-2">
    <i class="fas fa-quote-right fa-3x text-white"></i>
  </div>
</div>